.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F7F7F7;
}

.form-container {
  max-width: 600px;
  width: 100%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
}

button[type="submit"] {
  background-color: #0066CC;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #003399;
}

.image-container {
  order: -1; /* Move the image container to the top */
  margin-bottom: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
